*.log
npm-debug.log*
pids
*.pid
*.seed
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
/public/bower_components
/dist
*.csv
*.dat
*.pid
*.gz
*.swp
/tmp
.DS_Store
.idea/
.sass-cache
*~
*.out
npm-debug.log
.project
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
config/local.json
